* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Work Sans';
}

body {
    display: flex;
    flex-wrap: wrap;
    margin: 0px;
    flex: 1 1 100vw;
}

header, nav, main, aside, footer {
    /* flex-wrap: wrap;         /*   permite quebra de linha quando elementos não couberem na tela */
    /* background: #a1a1a1; */
    display: flex;
    margin: 0px;
}

header {  
    flex: 1 1 100vw;                     
    height: 130px;
    background-color:#074D92;
}

header #logo {
    flex: 0 1 200px;
    background-color:#074D92;
    margin: auto;
    padding: 0px 0px 0px 10px;
    
}

nav {
    flex: 1 1 90vw;
    align-items: center;
    justify-content:center;    
    color: white;  
    text-transform: uppercase;        
}

nav a {
    margin: 2%;
    font-size: 20pt;
}

a {
    text-decoration: none;
    color: inherit;
}

#redes {
    flex: 1 1 10vw;;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2%;
}

#redes a {
    margin: 3%;
}

.iconmenu {
    width: 20px;    
}

#openMenu, #closeMenu {
    border: none;
    background: none;
    font-size: 30px;
    font-weight: bold;
    padding: 0px 5px 0px 5px;
    cursor: pointer;
    display: none;
    color: white;
}

main {
    flex: 20 1 700px;                     
    height: calc(100vh - 200px);
}

aside {
    flex: 20 1 200px;
    background-color: #F2F2F2; 
            
}

footer {
    flex: 1 1 100vw;                       
    height: 100px;
    background-color:#008DC6;
}

/* verificar largura e altura da janela */
@media only screen and (max-width: 899px) {

    #closeMenu {
        display: block;
        position: fixed;
        right: 15px;
        top: 15px
    }

    #openMenu {
        display: block;
        margin-left: auto;
    }

    nav {
        position: fixed;
        flex-direction: column;
        width: 100vw;
        height: 100vh;
        background: rgba(255, 255, 255, 0.8);
        align-items: center;
        justify-content: center;
        margin: 0;
        display: none;
        opacity: 0.0;
        transition:0.5s;
        color: black;  
        text-transform: uppercase; 
    }

    #redes {
        display: none;    
    }

    #logo {
        align-items:start;
        color: white;
    }

    main {
        height: calc(100vh - 300px);
    }

    aside {
        /* passará a ocupar 100% da largura e altura fixada */
        flex: 1 1 100vw;
        height: 100px;
    }

}
