* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-wrap: wrap;
    margin: 0px;
    flex: 1 1 100vw;
}

header, nav, main, aside, footer {
    /* flex-wrap: wrap;         /*   permite quebra de linha quando elementos não couberem na tela */
    /* background: #a1a1a1; */
    display: flex;
    margin: 0px;
}


header {  
    flex: 1 1 100vw;                     
    height: 130px;
    background-color:darkgray;
}

nav {
    flex: 1 1 100vw;
    height: 70px;  
    background-color: blue;                     
}

main {
    flex: 20 1 700px;                     
    height: calc(100vh - 300px);
}

aside {
    flex: 20 1 200px;
    background-color: darkslategrey; 
            
}

footer {
    flex: 1 1 100vw;                       
    height: 100px;
    background-color:darkgray;
}

/* verificar largura e altura da janela */
@media only screen and (max-width: 899px) {
   header {

   }
   nav {

   }
   main {

   }
   aside {
    /* passará a ocupar 100% da largura e altura fixada */
    flex: 1 1 100vw;
    height: 100px;

   }
   footer {
     
   } 
}




